<app-navbar></app-navbar>
<section class="px-5 lg:px-0">
  <div class="w-full max-w-[570px] mx-auto rounded-lg shadow-md md:p-10">
    <h3 class="text-headingColor text-[22px] leading-9 font-bold mb-10">Hello! <span class="text-primaryColor">Welcome</span> back</h3>
    <form class="py-4 md:py-0">
      <div class="mb-5">
        <input type="email" placeholder="Enter your email" name="email" class="w-full px-4 py-3 border-b border-solid border-[#0066ff61] focus:outline-none focus:border-b-primaryColor text-[16px] leading-7 text-headingColor placeholder:text-textColor rounded-md cursor-pointer" required="" value="">
      </div>
      <div class="mb-5">
        <input type="password" placeholder="Enter your password" name="password" class="w-full px-4 py-3 border-b border-solid border-[#0066ff61] focus:outline-none focus:border-b-primaryColor text-[16px] leading-7 text-headingColor placeholder:text-textColor rounded-md cursor-pointer" required="" value="">
      </div>
      <div class="mt-7">
        <button type="submit" class="w-full bg-primaryColor text-white text-[18px] leading-[30px] rounded-lg px-4 py-3 ">Login</button>
      </div>
      <p class="mt-5 text-textColor text-center">don't have an account?<a class="text-primaryColor font-medium ml-1" href="/register">Register</a></p>
    </form>
  </div>
</section>
